@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@1,200&display=swap");
@font-face {
    font-family: "Velily Serif";
    src: url(../fontes/VerilySerifMono.otf);
}

:root {
    --fontEnphasis: "Roboto Mono", monospace;
    --defaultFont: "Open Sans", sans-serif;
    --fontVariation: "Velily Serif", sans-serif;

    --colorBackground: linear-gradient(90deg, #2a292f 70%, #444249);
    --colorEnphasis: #3ec9c0;
    --colorText: #363636;
    --colorAlternative: #969696;
    --hoverColor: #b9b5b58f;
    --contrastColor: #ff4f5a;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--colorText);
    font-family: var(--defaultFont);
    font-weight: lighter;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 40px;
    align-items: center;
    background-image: var(--colorBackground);
    min-height: 50px;
    font-size: 1.2em;
    padding: 20px;
    border-bottom: white 1px solid;
}

#navbar-titulo {
    font-family: var(--fontVariation);
    max-width: 250px;
    word-break: break-all;
}

#header {
    
    padding: 20px;
    min-height: calc(100vh - 50px);
    background-image: var(--colorBackground);
    display: flex;

    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.header-content {
    max-width: 550px;
    font-size: 40px;
}

.header-content p {
    color: var(--colorAlternative);
    font-family: var(--fontEnphasis);
}

.principal {
    max-width: 500px;
    font-family: var(--fontEnphasis);
    font-size: 60px;
}

.enfase-color {
    color: var(--colorEnphasis);
}

.header-imagem {
    width: 550px;

    position: relative;
}

.header-imagem img {
    width: 100%;
    border-radius: 10px;
}

.navbar-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.navbar-links li {
    display: inline-block;
    list-style: none;
}

.navbar-links li a {
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    transition-duration: 0.3s;
    color: var(--colorAlternative);
}

.navbar-links li a:hover {
    color: var(--colorEnphasis);
    background-color: var(--hoverColor);
    border-radius: 5px;
}


.social-media {
    margin: 30px 0 30px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.sm-image {
    width: 50px;
}


#sm-github, #sm-instagram {
    display: flex;
    border: var(--colorEnphasis) solid 4px;
    color: var(--colorEnphasis);
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    text-decoration: none;
    transition: .3s;

}




#sm-github:hover, #sm-instagram:hover{
        background-color: var(--hoverColor);
}


main {
    padding: 40px;
    
}
#sobre p {
    font-size: 27px;
    font-family: var(--defaultFont);
    
}

.enfase {
    font-family: var(--fontEnphasis);
    font-weight: bold;
}

section {
    min-height: 100vh;
}
.m-section {
    max-width: 1600px;
    margin: 0 auto;
    
    
}

section h1 {
    text-align: center;
    color: var(--colorText);
    font-family: var(--fontEnphasis);
    font-weight: lighter;
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
    text-decoration-thickness: 4px;
    margin: 0 0 60px;
    word-break: break-all;
}

.s-img {
    height: 500px;
    max-width: 1600px;
    margin: 0 0 70px;

}
.s-img img{
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;

    
    
}

p {
    font-family: var(--defaultFont);
    line-height: 1.8em
}



.grid-two-columns{
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 30px;

}

.grid-two-columns > div {
    padding: 20px;
    display: flex;
    align-items: center;
    
}

.grid-left {
    border-right: var(--contrastColor) 2px solid;
  

}

.grid-left  p::before{
    content: "\1F4CC";
}



#ferramentas {
    max-width: 1600px;
    min-height: calc(100vh - 200px);
    margin: 80px auto;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.247);
    border-radius: 10px;
    padding: 40px;
}

#ferramentas > div{
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10%;
    padding: 20px;
    min-height: 600px;
}


.ferramenta-img{
    max-width: 300px;
    margin: 0 auto;
}

.ferramenta-img > img {
    object-fit: contain;
}

#ferramentas > div h2 {
    text-align: center;
    margin: 40px;

}

.flex-center {
    display: flex;
    align-items: center;
}

.ferramentas-campo {
    max-width: 1600px;
    justify-content: space-between;
}

.ferramentas-campo  h2 {
    font-family: var(--fontEnphasis);
    font-weight: bold;
}

.ferramentas-campo  p {
    font-family: var(--fontVariation);
    font-size: 1.2em;
    padding: 5px;
    text-align: justify;
}

#ferramentas-conhecidas > div {
    max-width: 600px;
}






.passar-slide {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 63px;
    border-radius: 10px;
}

.passar-slide:hover {
    background-color: #bbbaba;
    cursor: pointer;
    transition: .2s;
}

.passar-slide div{
    width: 100px;
    height: 5px;
    background-color: black;
}

.passar-slide:first-child div:last-child{
    transform: rotate(45deg);
}

.passar-slide:first-child div:first-child{
    transform: rotate(-45deg);
}


.passar-slide:last-child div:last-child{
    transform: rotate(-45deg);
}

.passar-slide:last-child div:first-child{
    transform: rotate(45deg);
}






#hobbies{

    max-width: 1200px;
    margin: 50px auto;
}

#hobbies p {
    font-family: var(--fontEnphasis);
    font-size: 2em;
    margin: 20px 0 0;
}

.elementos {
    margin: 40px 0 120px;

}

.elementos-grid{
    display: grid;
    grid-template-rows: calc(2, 1fr);
    grid-template-columns: 1fr 1.3fr;
    position: relative;
    gap: 20px;
    height: 800px;
    
}



.elementos-grid div {
    min-height: 100px;
    grid-column: 2;
}
.elementos-grid div:first-child {
    grid-column: 1;
    grid-row: 1/3;
    
}

.elementos-grid:nth-of-type(2n){
    grid-template-columns: 1.3fr 1fr;
    
}

.elementos-grid:nth-of-type(2n) div {
    min-height: 100px;
    grid-column: 1;
}
.elementos-grid:nth-of-type(2n) div:first-child {
    grid-column: 2;
    grid-row: 1/3;
    
}



.elementos-grid div img {
    object-fit: cover;
    height: 100%;
    width: 100%;
}



.projetos-bg {
    max-width: 1600px;
    min-height: calc(100vh - 200px);
    margin: 150px auto 80px;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.247);
    border-radius: 10px;
    padding: 40px;
    background-color: white ;
}

.projetos {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    max-width: 1200px;
    margin: auto;
    flex-wrap: wrap;
}
.projetos > div {
    max-width: 300px;
    padding: 30px;
    background-color: white;
    box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.247);
    border-radius: 10px;
    transition: .3s;

}

.projetos > div *{
    cursor: default;
}

.projetos > div a {
    cursor: pointer;
}
.projetos > div:hover {
    transform: scale(1.1);

}

.projetos > div h3 {
    text-align: center;
    font-family: var(--fontVariation)
    
}
.projetos > div p {
    font-family: var(--defaultFont);
    font-size: 1.2em;
    

}

.projeto-img{
    height: 200px;
    margin: 20px 0;
    background-color: var(--colorText);
    border-radius: 10px;

}
.projeto-img img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    border-radius: 10px;
}
.em-breve div{
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

.projeto-img > p {
    color: white;
    
    font-family: var(--fontEnphasis);
    font-weight: bold;
}



#contato {
    background: #2a292f;
    min-height: 900px;
    padding-top:  40px;
}
.form-campos {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto 30px;
    flex-wrap: wrap
}

#contato h1 {
    text-align: center;
    color: var(--colorAlternative);
    font-family: var(--fontEnphasis);
    font-weight: lighter;
    font-size: 70px;
    font-weight: bold;
    font-style: italic;
    text-decoration-thickness: 4px;
    margin: 0 0 60px;
    word-break: break-all;

}

#contato .buttons {
    display: flex;
    justify-content: space-evenly;
    max-width: 500px;
    margin: 0 auto;
    padding-bottom: 60px;
}

fieldset {
    border: none;
    padding: 0 40px;

}

.form-campos fieldset:first-of-type{
    border-right: var(--colorAlternative) solid 2px;
    flex-grow: 2;
    min-width: 400px
}
.form-campos fieldset:last-of-type{
    flex-grow: 3;
}


.form-campos fieldset div {
    
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 20px 0;
    
}

#contato label {
    color: var(--colorAlternative);
    font-size: 2em;
}


input[type="text"]{
    min-height: 50px;
    width: 100%;
    font-size: 1.3em;
    padding: 5px;
}
input:hover{
    border-color: var(--colorAlternative);
}

#contato textarea {
    margin: 20px 0;
    width: 100%;
    min-height: 250px;
    
    font-size: 1.3em;
    padding: 5px;
}
#contato textarea:hover{
    border-color: var(--colorAlternative);
    resize: none;
}

 input[type="submit"]{
    border: none;
    background-color: #b4aaaa;
    padding: 15px 20px;
    font-size: 1.3em;
    border-radius: 5px;
    box-shadow: 0px 0px 20px #00000046;
    width: 100%;
    transition: .3s;
    font-family: var(--fontVariation);
    font-weight: bold;
}

input[type="submit"]:hover{
    background-color: #635d5d;
    color: white;
    cursor: pointer;

}






@media  (max-width: 1150px) {

    main{
        padding: 5px;
    }
    #header {
        background-image: url(../imagens/home-office.svg);
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: inset 0px 0px 50px 50px  #00000050;
        overflow: auto;
    }
    .header-imagem {
        display: none;
    }
    .header-content {
        background-color: #000000b9;
        
        padding: 140px 20px;
    }

    .grid-two-columns{
        grid-template-columns: 1fr;


    }
    .grid-left{
        border: none;
        border-bottom: var(--contrastColor) 2px solid;
    }

    .s-paragraph {
        width: 100%;
        text-align: justify;

    }

    .grid-left .s-paragraph {
        text-align: center;
    }

    #ferramentas{
        margin: 0;
    }


    
    .elementos-grid div {
        display: none;
    }
    .elementos-grid div:first-child {
        grid-column: 1/3;
        display: block;
        max-height: 700px;


    }
    .elementos-grid div:first-child img {
        object-fit: cover;
        
    }
    .elementos-grid:nth-of-type(2n) div:first-child {
        grid-column: 1/3;
       
        
    }

    @media (max-width: 700px) {
        #btnAnterior, #btnProximo {
            display: none;
        }
    }


}
