@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto+Mono:ital,wght@1,200&display=swap");
@font-face {
    font-family: "Velily Serif";
    src: url(../fontes/VerilySerifMono.otf);
}

:root {
    --fontEnphasis: "Roboto Mono", monospace;
    --defaultFont: "Open Sans", sans-serif;
    --fontVariation: "Velily Serif", sans-serif;

    --colorBackground: linear-gradient(90deg, #2a292f 70%, #444249);
    --colorEnphasis: #3ec9c0;
    --colorText: #363636;
    --colorAlternative: #969696;
    --hoverColor: #b9b5b58f;
    --contrastColor: #ff4f5a;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--colorText);
    font-family: var(--defaultFont);
    font-weight: lighter;
}

html {
    scroll-behavior: smooth;
}

#navbar {
    
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 10px 40px;
    align-items: center;
    background-image: var(--colorBackground);
    min-height: 50px;
    font-size: 1.2em;
    padding: 20px;
    border-bottom: white 1px solid;
}

#navbar-titulo {
    font-family: var(--fontVariation);
    max-width: 250px;
    word-break: break-all;
}

#header {
    
    padding: 20px;
    min-height: calc(100vh - 200px);
    background-image: var(--colorBackground);
    display: flex;

    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    
}

.header-content {
    max-width: 550px;
    font-size: 40px;
}

.header-content p {
    color: var(--colorAlternative);
    font-family: var(--fontEnphasis);
}

.principal {
    max-width: 500px;
    font-family: var(--fontEnphasis);
    font-size: 60px;
}

.enfase-color {
    color: var(--colorEnphasis);
}

.header-imagem {
    width: 550px;

    position: relative;
}

.header-imagem img {
    width: 100%;
    border-radius: 10px;
}

.navbar-links {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

.navbar-links li {
    display: inline-block;
    list-style: none;
}

.navbar-links li a {
    padding: 10px;
    text-decoration: none;
    border-radius: 20px;
    font-weight: 500;
    transition-duration: 0.3s;
    color: var(--colorAlternative);
}

.navbar-links li a:hover {
    color: var(--colorEnphasis);
    background-color: var(--hoverColor);
    border-radius: 5px;
}


.social-media {
    margin: 30px 0 30px;
    display: flex;
    justify-content: flex-start;
    gap: 20px;
    flex-wrap: wrap;
}

.sm-image {
    width: 50px;
}


#sm-github, #sm-instagram {
    display: flex;
    border: var(--colorEnphasis) solid 4px;
    color: var(--colorEnphasis);
    font-size: 20px;
    border-radius: 10px;
    padding: 10px 20px ;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 13px;
    text-decoration: none;
    

}




#sm-github:hover, #sm-instagram:hover{
        background-color: var(--hoverColor);
}


main {
    padding: 40px;
    
}

.m-section {
    max-width: 1600px;
    margin: 0 auto;
    
    
}

.s-title {
    text-align: center;
    color: var(--colorText);
    font-family: var(--fontEnphasis);
    font-weight: lighter;
    font-size: 70px;
    text-decoration: underline;
    font-weight: bold;
    font-style: italic;
    text-decoration-thickness: 4px;
    margin: 0 0 60px;
    word-break: break-all;
}

.s-img {
    height: 500px;
    max-width: 1600px;
    margin: 0 0 70px;

}
.s-img img{
    object-position: center;
    object-fit: cover;
    height: 100%;
    width: 100%;

    
    
}

p {
    font-family: var(--defaultFont);
    line-height: 1.8em
}

.s-paragraph {
    font-size: 27px;
}

.grid-two-columns{
    display: grid;
    grid-template-columns: 400px 1fr;
    gap: 30px;

}

.grid-two-columns > div {
    padding: 20px;
    display: flex;
    align-items: center;
    
}

.grid-left {
    border-right: var(--contrastColor) 2px solid;
  

}

.grid-left  .s-paragraph::before{
    content: "\1F4CC";
}



#ferramentas {
    max-width: 1600px;
    min-height: calc(100vh - 200px);
    margin: 80px auto;
    box-shadow: 0px 0px 15px 2px rgba(0, 0, 0, 0.247);
    border-radius: 10px;
    padding: 40px;
}

#ferramentas > div{
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
    border-radius: 10%;
    padding: 20px;
}


.ferramenta-img{
    max-width: 300px;
    margin: 0 auto;
}

.ferramenta-img > img {
    object-fit: contain;
}

#ferramentas > div h2 {
    text-align: center;
    margin: 40px;

}

.flex-center {
    display: flex;
    align-items: center;
}

.ferramentas-campo {
    max-width: 1600px;
    justify-content: space-between;
}

.passar-slide {
    min-height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 63px;
    border-radius: 10px;
}

.passar-slide:hover {
    background-color: #bbbaba;
    cursor: pointer;
    transition: .2s;
}

.passar-slide div{
    width: 100px;
    height: 5px;
    background-color: black;
}

.passar-slide:first-child div:last-child{
    transform: rotate(45deg);
}

.passar-slide:first-child div:first-child{
    transform: rotate(-45deg);
}


.passar-slide:last-child div:last-child{
    transform: rotate(-45deg);
}

.passar-slide:last-child div:first-child{
    transform: rotate(45deg);
}










@media screen and (max-width: 1150px) {

    main{
        padding: 5px;
    }
    #header {
        background-image: url(../imagens/home-office.svg);
        background-size: cover;
        background-repeat: no-repeat;
        box-shadow: inset 0px 0px 50px 50px  #00000050;
        overflow: auto;
    }
    .header-imagem {
        display: none;
    }
    .header-content {
        background-color: #000000b9;
        
        padding: 140px 20px;
    }

    .grid-two-columns{
        grid-template-columns: 1fr;


    }
    .grid-left{
        border: none;
        border-bottom: var(--contrastColor) 2px solid;
    }

    .s-paragraph {
        width: 100%;
        text-align: justify;

    }

    .grid-left .s-paragraph {
        text-align: center;
    }

    #ferramentas{
        margin: 0;
    }
}
